.morning {
  background-color: #4fc3f7;
}

.evening {
  background-color: #ff8a50;
}

.free {
  background-color: #76ff03;
}

.partial {
  background-color: #ee98fb;
}

.disabled {
  background-color: #efefef;
}
