.scheduler-login {
  .ui.container& {
    padding-top: 15%;
  }

  .ui.header&-header {
    font-size: 4em;
    margin-bottom: 10px;
    color: @green;
  }

  .ui.buttons&-button-group {
    margin-top: 10px;
  }
  .ui.buttons .or&-button-group-or {
    width: auto;
    height: auto;
  }
}
